{
    "RootNamespace": "Barrios",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=DESKTOP-Q0SDDJ5\\SQLEXPRESS; Initial Catalog=Barrios; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.RESERVAS",
                    "Identifier": "Reservas",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RESERVAS_RECURSOS",
                    "Identifier": "ReservasRecursos",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RESERVAS_RESULTADOS",
                    "Identifier": "ReservasResultados",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RESERVAS_TIPOS",
                    "Identifier": "ReservasTipos",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RESERVAS_TURNOS_ESPECIALES",
                    "Identifier": "ReservasTurnosEspeciales",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Recursos-Barrios",
                    "Identifier": "RecursosBarrios",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VECINOS_ACTIVIDADES",
                    "Identifier": "VecinosActividades",
                    "Module": "Perfil",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Perfil"
                },
                {
                    "Tablename": "dbo.VECINOS_EVENTOS_CONCURRENTES",
                    "Identifier": "VecinosEventosConcurrentes",
                    "Module": "Perfil",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Perfil"
                },
                {
                    "Tablename": "dbo.VECINOS_EVENTOS",
                    "Identifier": "VecinosEventos",
                    "Module": "Perfil",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Perfil"
                },
                {
                    "Tablename": "dbo.VECINOS_MASCOTAS",
                    "Identifier": "VecinosMascotas",
                    "Module": "Perfil",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Perfil"
                },
                {
                    "Tablename": "dbo.VECINOS_VISITANTES_FRECUENTES",
                    "Identifier": "VecinosVisitantesFrecuentes",
                    "Module": "Perfil",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:Perfil"
                },
                {
                    "Tablename": "dbo.SUBBARRIOS",
                    "Identifier": "Subbarrios",
                    "Module": "Settings",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SUBBARRIOS_RECURSOS",
                    "Identifier": "SubbarriosRecursos",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HOLIDAYS",
                    "Identifier": "Holidays",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.NOTES",
                    "Identifier": "Notes",
                    "Module": "Administration",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:Reservas"
                },
                {
                    "Tablename": "dbo.RESERVAS_RECURRENTES",
                    "Identifier": "ReservasRecurrentes",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.NEWS",
                    "Identifier": "News",
                    "Module": "Contenidos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "User:News"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Barrios\\Barrios.Web\\Barrios.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": false
}