
@{
    ViewData["Title"] = "User";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Administration.UserGrid($('#GridDiv'), @CurrentNeigborhood.Get().Id);

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>