@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Perfil.VecinosVisitantesFrecuentes.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Perfil.VecinosVisitantesFrecuentesGrid($('#GridDiv'), null).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>