@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Contenidos.LineaTiempo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Contenidos.LineaTiempoGrid($('#GridDiv'), @Convert.ToInt16(CurrentNeigborhood.Get().UseSubBarrios.Value) ).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>