@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.membership.less";
@import "site.default.less";
@import "site.perfil.less";




.table-custom {
    .thead-dark {
        background-color: #00c0ef;
        color:white;
    }

    th, td {
        vertical-align: middle !important;
        border: solid 1px;
    }
}

.styleSerenity {
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #3c8dbc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}