@model Barrios.Administration.Entities.BarriosRow
@{
    ViewData["Title"] = "Location"; //Serenity.LocalText.Get("Db.Contenidos.ProveedoresValoraciones.EntityPlural");
}
<div class="containerProviders">
    <iframe src="https://comolleg.ar/@Model.ShortDisplayName.ToLower()/" style="width:100%; background-color:whitesmoke; height:1500px;">

    </iframe>


</div>