@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.UsersBarrios.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Administration.UsersBarriosGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>