@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Holidays.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Default.HolidaysGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>