@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Perfil.VecinosActividades.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Perfil.VecinosActividadesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>