@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Contenidos.EncuestasValoraciones.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Barrios.Contenidos.EncuestasValoracionesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>