@model Barrios.Common.BookingModel
@{
    ViewData["Title"] = "Booking";
    
    ViewData["PageId"] = "Booking";
    }

    @section ContentHeader {
    <h1 class="contentTitle">
        Tablero Principal <!--@LocalText.Get("Navigation.Dashboard")--><small class="contentSubTitle">
            Incio para novedades del barrio.
            <!--@Html.Raw(Texts.Site.Dashboard.ContentDescription)-->
        </small>
    </h1>
}
<div class="row containerBooking">
    <div class="col-xs-12 col-md-8" style="height:inherit">
        <div class="box dark">
            <div class="box-header">
                <h3 class="box-title">
                    Estado de reservas de: 
                </h3>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-info dropdown-toggle" type="button" id="dropdownRecurso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recurso nombre
                    </button>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                        @foreach (var obj in Model.Recursos)
                        {
                            <li><a class="ItemRecurso" id="@obj.Id,@obj.Resolucion" href="#">@obj.Nombre</a></li>
                        }
                    </ul>
                </div>
               
            </div>
            <div class="box-body table-responsive pad">

                <table id="Bookingtable" class="table table-bordered"></table>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4" id="formBooking" style="height:inherit">
        @if (Model.ExistEspecialTurns())
        {
            <section class="styleSerenity dark turnSpecial">
                <h4>
                    @foreach (var aux in Model.Recursos)
                    {
                        if (aux.Resolucion == 0)
                        {
                            <strong>/@aux.Nombre</strong>
                        }
                    }
                </h4>
                <p>

                    Las reservas se solicitan por este medio. Para mas información tiene los reglamentos de estos mismos.<br />
                    La Administración se pondrá en contacto para confirmar la reserva.<br />
                    <strong>ADICIONALES</strong><br />

                    Expendedora de café durante el evento $ 650.-<br />
                    Chopera Consultar costo y encargar barril con una semana de anticipación mínimo.<br />

                    <strong>ESPECIALES</strong><br />

                    Corporativo (con aprobación previa) solicitar presupuesto<br />
                    Publicidad (con aprobación previa) Evite multas al no declarar eventos publicitarios.

                </p>
                <button type="button" onclick="Booking.showEspecialTurnDialog();" class="btn btn-info">Solicitar Reserva</button>

            </section>
        }
        <section class="styleSerenity ">
            <div id="GridDiv"></div>
        </section>
    </div>
    

</div>
<script>
    var Booking;
    var grid;
    jQuery(function () {
        grid = new Barrios.Default.MyBookingsGrid($('#GridDiv'), @Serenity.Authorization.UserId).init();
        Booking = new Dashboard.Booking($("#dropdownRecurso"), $(".ItemRecurso"), $("#Bookingtable"), grid);
        grid.refreshTable = () => { Booking.refresh(); };
    });
</script>
